<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Compiler</title>
  <link rel="stylesheet" href="/assets/styles.css">
  <link rel="stylesheet" href="/assets/search1.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>Compiler</h2>
        <ul>
          <li><a href="/facultyhome"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="#"><i class="fas fa-user"></i>Profile</a></li>
            <li><a href="#"><i class="fas fa-address-card"></i>Others Faculty</a></li>
            <li><a href="/assignment"><i class="fas fa-project-diagram"></i>Assignment</a></li>
            <li><a href="#"><i class="fas fa-blog"></i>Notes</a></li>
            <li><a href="#"><i class="fas fa-address-book"></i>Syllabus</a></li>
            <li><a href="#"><i class="fas fa-map-pin"></i>Logout</a></li>
        </ul> 
        <div class="social_media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="main_content">

        <div class="header"> 
            <input type="text" name="" id = "empsearch" placeholder="Search By Student-ID....">
            <input type="submit" name="" id ="empsearch1" placeholder="Type....">
        </div>  

   
     <div class="info">
         

          <!-- ************* <div><button>hello</button><button>hello</button></div>  -->
         <!-- <div><button>hello</button></div> -->
     <table border="none" style="width:70%">
       <!--   <table border="1" style="width:100%"> -->
    <tr id = "heading">
      <td>ASSIGNMENT NAME</td>
      <td>UPLOAD DATE</td>
      <td>SUBMISSION DATE</td>
      <td>FILE LINK</td>
      <td>ACTION</td>

            
    </tr>

    <% for(var i=0; i< user.length; i++){ %>
    <tr>
            <td><%= user[i].assignmentname %></td>
            <td><%= user[i].updatedate %></td>
            <td><%= user[i].submissiondate %></td>
            <td><%= user[i].assignmentfile %></td>
            <td>
              
              <a href="/assignment/edit/<%= user[i].assignmentname %>">EDIT</a>|
              <a href="/assignment/delete/<%= user[i].assignmentname %>">DELETE</a> 
            
            </td>
     
    </tr>

  <% } %>

 
  </table>



     
        </div>
   
    </div>
    
</div>

  <script type="text/javascript">
    $("#empsearch").on("keyup",function(){
  
      var value = $(this).val();
      $("table tr").each(function(records)
      {
        if(records != 0)
        {
          var id = $(this).find("td:eq(0)").text();
          if(id.indexOf(value)!==0){
            $(this).hide();
          }
          else{
            $(this).show();
          }
        }
      });
    });
  </script>




</body>
</html>